<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

	<bean id="account" class="com.spring.beans.Account">
		<property name="name" value="hello" />
		<property name="status" value="1" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="com.spring.enums.AccountEnum">
					<bean class="com.spring.propertyeditor.AccountEnumEditor"/>
				</entry>
			</map>
		</property>
	</bean>
</beans>