<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="log.base" value="d:/logs/logback/" />
	<property name="pattern"
		value="%date [%thread] %-5level %logger{80} - %msg%n" />
		
		
	<!-- Console日志输出位置与样式 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${pattern}</pattern>
		</layout>
	</appender>

	<!-- action模块日志输出位置与样式 -->
	<appender name="logfile-action"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}_action.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/%d{yyyy-MM-dd}/action-%i.%d{yyyy-MM-dd}.log.zip
			</FileNamePattern>
			<maxHistory>20</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>20MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${pattern}</pattern>
		</layout>
	</appender>

	<!-- service模块日志输出位置与样式 -->
	<appender name="logfile-service"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}_service.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/%d{yyyy-MM-dd}/service-%i.%d{yyyy-MM-dd}.log.zip
			</FileNamePattern>
			<maxHistory>20</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>20MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${pattern}</pattern>
		</layout>
	</appender>

	<!-- Dao模块日志输出位置与样式 -->
	<appender name="logfile-dao"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<!-- 日志文件完整路径 -->
		<File>${log.base}_dao.log</File>
		<!-- 日志滚动属性配置 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天打包 -->
			<FileNamePattern>${log.base}/%d{yyyy-MM-dd}/dao-%i.%d{yyyy-MM-dd}.log.zip
			</FileNamePattern>
			<!-- 最多保留20天日志 -->
			<maxHistory>20</maxHistory>
			<!-- 一份文件大小最大20M -->
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>20MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<!-- 输出样式 -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${pattern}</pattern>
		</layout>
	</appender>


	<!-- name表示包路径名，com.web.*.*.java下的日志都会按照appender-ref中定义的格式路径输出 -->
	<!-- level 日志级别 -->
	<!-- additivity 是否向上传播(即在它的上级中也输出)，目前它的上级是root -->
	<logger name="com.web" level="info" additivity="true">
		<appender-ref ref="logfile-action" />
	</logger>
	<logger name="com.service" level="info" additivity="true">
		<appender-ref ref="logfile-service" />
	</logger>
	<logger name="com.dao" level="info" additivity="true">
		<appender-ref ref="logfile-dao" />
	</logger>

	<!-- 顶级日志 -->
	<root>
		<appender-ref ref="stdout" />
	</root>
</configuration>
