<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="pattern" value="%date [%thread] %-5level %logger{80} - %msg%n" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${pattern}</pattern>
		</layout>
	</appender>

	<root>
		<appender-ref ref="stdout" />
	</root>
</configuration>  
